<div class="aboutus clearfix">

    <div id="logo">
          <%= link_to posts_path do %>
             <%= image_tag("logo.png", :width => 50) %>
          <% end %>
    </div>
      <nav >
        <ul class="clearfix">
            <li><%= link_to '合作案例', work_case_posts_path(@posts) %></li>
            <li><%= link_to '服務內容', service_posts_path %></li>
            <li><%= link_to '東南亞商情', articles_path(@articles) %></li>
            <li><%= link_to '關於我們', aboutus_posts_path %></li>
        </ul>
      </nav>
</div>

<div class="service-triangle animated infinite flipInX">
    <%= image_tag ("triangle.jpg")%>
</div>
<div class="service-p">
  <p>進軍東南亞事前評估</p>
</div>



<div class="aboutus-bg">
  <%= image_tag ("service.jpg")%>
</div>
